{:paths ["src/clj" "src/cljc" "resources"]
 :deps  {org.clojure/tools.logging {:mvn/version "1.1.0"}
         org.slf4j/slf4j-log4j12   {:mvn/version "1.7.32"}
         integrant/integrant       {:mvn/version "0.8.0"}
         aleph/aleph               {:mvn/version "0.4.7-alpha7"}
         metosin/reitit            {:mvn/version "0.5.15"}
         metosin/muuntaja          {:mvn/version "0.6.8"}
         ring/ring-defaults        {:mvn/version "0.3.3"}

         ;; XTDB
         com.xtdb/xtdb-core    {:mvn/version "1.19.0-beta1"}
         com.xtdb/xtdb-rocksdb {:mvn/version "1.19.0-beta1"}

         ;; Datalevin
         datalevin/datalevin       {:mvn/version "0.5.12"}
         com.cognitect/transit-clj {:mvn/version "1.0.324"}

         ;; SQL ;)
         com.github.seancorfield/next.jdbc {:mvn/version "1.2.709"}
         com.github.seancorfield/honeysql  {:mvn/version "2.0.783"}
         hikari-cp/hikari-cp               {:mvn/version "2.13.0"}
         org.xerial/sqlite-jdbc            {:mvn/version "3.36.0.3"}
         ragtime/ragtime                   {:mvn/version "0.8.1"}

         ;; Datascript
         datascript/datascript {:mvn/version "1.2.8"}

         ;; for time-ordered UUIDs
         com.github.f4b6a3/uuid-creator {:mvn/version "4.1.1"}}}
