{:up   ["CREATE TABLE address (
         id     INTEGER PRIMARY KEY AUTOINCREMENT,
         street text,
         city   text
       );"
        "insert into sqlite_sequence (seq, name) values (2000000, 'address');"]
 :down ["DROP TABLE address;"]}
